body {
  text-align: center;
}

#genCard {
  margin: auto;
  width: 30%;
  border: 3px solid grey;
  padding: 10px;
  height:200px;
}

#playerOneCard {
  width: 47%;
  float:left;
  margin: 10px;
  margin-top: 100px;
  border: 3px solid grey;
}

#playerTwoCard {
  width: 48%;
  float:left;
  margin: 10px;
  margin-top: 100px;
  border: 3px solid grey;
}
