body {
  text-align: center;
}

#genCard {
  margin: auto;
  width: 30%;
  border: 3px solid grey;
  padding: 20px;
  height: 200px;
  background-color: #616d75;
}

#diceGen{
  height: 65px;
  width: 75px;
  padding: 30px;
  border-radius: 15px;
  font-size: 70px;
  color: #faba0a;



}

#playerOneCard {
  width: 47%;
  float:left;
  margin: 10px;
  margin-top: 100px;
  border: 3px solid grey;
}

#playerTwoCard {
  width: 48%;
  float:left;
  margin: 10px;
  margin-top: 100px;
  border: 3px solid grey;
}
